/* Search section */
.search-bar {
  position: relative;
}

.search-bar__btn {
  overflow: hidden;
  border-radius: 15px;
  height: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  right: 0;
}

.search-bar__btn span {
  display: none; /* Hide btn text */
}

.search-bar__btn i {
  display: inline; /* Display btn icon */
}

/* accomodation results section */
.accomodation-results__sub-section {
  gap: 10px;
}
.accomodations__card {
  flex-basis: 100%;
}

.accomodations__title,
.accomodations-popular__title {
  margin-bottom: 15px;
}
