@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/*  VARIABLES  */
:root {
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --bg-color: #f2f2f2;
}

/*  RESETS  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

li {
  list-style: none;
}

/*  UTILITY CLASSES  */
.main-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.gray-star {
  color: red;
}

/*  MAIN STYLING  */
body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__logo {
  margin: 25px 0;
  height: 45px;
  width: auto;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.header__link {
  width: 150px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  border-top: 2px solid var(--bg-color);
  transition: color 0.2s ease-out;
  transition: border 0.2s ease-out;
}

.header__link:hover,
.header__link--active {
  color: var(--primary-color);
  border-top: 2px solid var(--primary-color);
}

/* Search section */
.search-section__title {
  margin: 0;
  margin-bottom: 10px;
}

.search-bar {
  font-size: 18px;
  display: flex;
  margin: 20px 0;
  padding-right: 10px;
}

.search-bar > i {
  padding: 13px 20px;
  background: var(--bg-color);
  line-height: 1.4;
  border-radius: 15px 0 0 15px;
}

.search-bar__field {
  outline: none;
  font-weight: 700;
  line-height: 1;
  padding: 13px;
  border: 1px solid var(--bg-color);
  border-right: 0;
}

.search-bar__btn {
  font-weight: 700;
  color: white;
  line-height: 1;
  border: none;
  outline: none;
  background: var(--primary-color);
  padding: 13px 16px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.search-bar__btn i {
  display: none;
}

.filters {
  margin-top: 30px;
}

.filters__title {
  font-size: 18px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 15px;
}

.filters__btn {
  font-size: 18px;
  margin-right: 15px;
  margin-bottom: 15px;
  line-height: 1;
  font-weight: 700;
  white-space: nowrap;
  background: transparent;
  padding: 0 20px;
  border-radius: 50px;
  border: none;
  /* border: 2px solid lightgray; */
  box-shadow: inset 0px 0px 0px 2px lightgray;
  border-left: 0;
  cursor: pointer;
  transition: color 0.2s ease-out;
}

.filters__btn:hover {
  color: var(--primary-color);
}

.filters__btn i {
  height: 50.25px;
  aspect-ratio: 1/1;
  color: var(--primary-color);
  background: var(--secondary-color);
  margin-right: 10px;
  margin-left: -21px;
  border-radius: 50%;
  padding: 15px;
}

.info-text {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.info-text i {
  height: 25px;
  font-size: 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid var(--bg-color);
  color: var(--primary-color);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
}

/* accomodation results section */
.accomodation-results {
  display: flex;
  gap: 40px;
}
.accomodation-results__sub-section {
  padding: 45px 40px;
  background: var(--bg-color);
  border-radius: 15px;
}

.accomodations {
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.accomodations__title {
  width: 100%;
}
.accomodations-popular {
  width: 33%;
}

/* CARDS */
.card {
  padding: 5px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.accomodations__card {
  width: 31%;
  display: flex;
  flex-direction: column;
}

.card__img {
  height: 114px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.card__img img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.card__description {
  padding: 5px 20px;
  line-height: 1.5;
}

.card__description span {
  font-weight: 700;
}

.card__title {
  font-size: 16px;
}

/* STAR COLORS */
.card__rating {
  color: var(--primary-color);
}

/* card 1 */
.accomodations__card:nth-child(2) .card__rating .fas:last-child {
  color: var(--secondary-color);
}

/* card 3 */
.accomodations__card:nth-child(4) .card__rating .fas:last-child {
  color: var(--secondary-color);
}

/* card 4 */
.accomodations__card:nth-child(5) .card__rating .fas:nth-child(4),
.accomodations__card:nth-child(5) .card__rating .fas:last-child {
  color: var(--secondary-color);
}

/* card 5 */
.accomodations__card:nth-child(6) .card__rating .fas:last-child {
  color: var(--secondary-color);
}
