@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

/*  VARIABLES  */
:root {
  /* colors */
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --bg-color: #f2f2f2;

  /* font-sizes */
  --p-text: 16px;
  --main-titles: 24px;
  --secondary-titles: 18px;
  --secondary-links: 20px; /* e.g: "Afficher Plus" */
}

/*  UTILITY CLASSES  */
.main-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-title {
  font-size: var(--main-titles);
  font-weight: 700;
  line-height: 1.2;
}

.expand-btn {
  font-size: var(--secondary-links);
  font-weight: 700;
  margin-top: 15px;
  color: black;
}

.expand-btn:hover {
  text-decoration: underline;
}

/*  MAIN STYLING  */
body {
  font-family: "Raleway", sans-serif;
  font-size: var(--p-text);
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__logo {
  margin: 25px 0;
  height: 45px;
  width: auto;
}

.header__nav {
  display: flex;
}

.header__link {
  width: 150px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  border-top: 2px solid var(--bg-color);
  transition: color 0.2s ease-out;
  transition: border 0.2s ease-out;
}

.header__link:hover {
  color: var(--primary-color);
  border-top: 2px solid var(--primary-color);
}

/* Search section */
.search-section__title {
  margin: 0;
  margin-bottom: 10px;
}

.search-bar {
  font-size: var(--secondary-titles);
  display: flex;
  margin: 20px 0;
  padding-right: 10px;
}

.search-bar > i {
  padding: 13px 20px;
  background: var(--bg-color);
  line-height: 1.4;
  border-radius: 15px 0 0 15px;
  z-index: 2;
}

.search-bar__field {
  outline: none;
  font-weight: 700;
  line-height: 1;
  padding: 13px;
  border: 1px solid var(--bg-color);
  border-right: 0;
  border-left: 0;
  margin-left: -3px;
}

.search-bar__btn {
  font-weight: 700;
  color: white;
  line-height: 1;
  border: none;
  outline: none;
  background: var(--primary-color);
  padding: 13px 16px;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.search-bar__btn i {
  display: none;
}

.filters {
  margin-top: 30px;
}

.filters__title {
  font-size: var(--secondary-titles);
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 15px;
}

.filters__btn {
  color: black;
  font-size: var(--secondary-titles);
  margin-right: 15px;
  margin-bottom: 15px;
  line-height: 1;
  font-weight: 700;
  background: transparent;
  padding: 16px 20px 16px 60px;
  border-radius: 50px;
  border: none;
  box-shadow: inset 0px 0px 0px 2px lightgray;
  cursor: pointer;
  position: relative;
  transition: color 0.2s ease-out;
}

.filters__btn:hover {
  color: var(--primary-color);
}

.filters__btn i {
  height: 50.25px;
  width: 50.25px;
  color: var(--primary-color);
  background: var(--secondary-color);
  /* transform: translateX(-20px); */
  border-radius: 50%;
  padding: 15px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}

.info-text {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.info-text i {
  height: 25px;
  font-size: 12px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid var(--bg-color);
  color: var(--primary-color);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
}

/* accomodation results section */
.accomodation-results {
  display: flex;
  gap: 40px;
}
.accomodation-results__sub-section {
  padding: 45px 40px;
  background: var(--bg-color);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 25px;
}

.accomodations {
  width: 66%;
}

.accomodations__title {
  width: 100%;
}

.accomodations-popular {
  width: 33%;
}

/* CARDS */
.card {
  color: black;
  padding: 5px;
  border-radius: 15px;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease-out;
}

.card:hover {
  transform: scale(1.025);
}

.card:hover .card__title {
  color: var(--primary-color);
}

.accomodations__card {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.card__img {
  height: 114px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.card__title {
  font-size: var(--secondary-titles);
  margin-top: 5px;
  line-height: 1.2;
  transition: color 0.2s ease-out;
}

.card__description {
  padding: 5px 12px;
  line-height: 1.5;
  word-wrap: break-word;
  min-height: 80px;
  height: 33%;
  display: flex;
  flex-direction: column;
}

.card__description span {
  font-weight: 700;
}

/* STAR COLORS */
.card__rating {
  color: var(--primary-color);
  justify-self: end;
  margin-top: auto;
}

.card__rating i {
  font-size: 13px;
  letter-spacing: -2px;
}

/* card 1 */
.accomodations__card:nth-child(2) .card__rating .fas:last-child {
  color: var(--secondary-color);
}

/* card 3 */
.accomodations__card:nth-child(4) .card__rating .fas:last-child {
  color: var(--secondary-color);
}

/* card 4 */
.accomodations__card:nth-child(5) .card__rating .fas:nth-child(4),
.accomodations__card:nth-child(5) .card__rating .fas:last-child {
  color: var(--secondary-color);
}

/* card 5 */
.accomodations__card:nth-child(6) .card__rating .fas:last-child {
  color: var(--secondary-color);
}

/* popular */
/* card 2 */
.accomodations-popular__card:nth-child(3) .card__rating .fas:last-child {
  color: var(--secondary-color);
}

/* card 3 */
.accomodations-popular__card:nth-child(4) .card__rating .fas:last-child {
  color: var(--secondary-color);
}

/* popular accomodations */
.accomodations-popular__title {
  position: relative;
  width: 100%;
}

.accomodations-popular__title i {
  position: absolute;
  right: 0;
}

.accomodations-popular__card {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  height: 27%;
}

.accomodations-popular__card .card__img {
  border-radius: 15px 0 0 15px;
  height: 100%;
  width: 125px;
}

.accomodations-popular__card .card__description {
  height: 100%;
  max-width: calc(100% - 125px);
}
